/**
 * @file
 * Right-to-left styling for the Forum module.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lfelipe\/Documents\/GitHub\/dojo-grunt-drupal\/omega\/sass\/modules\/forum\/forum\.theme-rtl\.scss}line{font-family:\000036}}
.forum-icon {
  float: right;
  margin-left: 0;
  margin-right: 0.4em; }
