@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lfelipe\/Documents\/GitHub\/dojo-grunt-drupal\/omega\/sass\/omega\.admin\.scss}line{font-family:\000033}}
body.hack {
  color: orange !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lfelipe\/Documents\/GitHub\/dojo-grunt-drupal\/omega\/sass\/omega\.admin\.scss}line{font-family:\000038}}
.fieldset-description {
  margin-bottom: 15px !important;
}

/* Extension Settings */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lfelipe\/Documents\/GitHub\/dojo-grunt-drupal\/omega\/sass\/omega\.admin\.scss}line{font-family:\0000313}}
.omega-extension-settings {
  border: 1px solid #ccc;
  padding: 2.5em 0 0 0;
  margin: 1em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lfelipe\/Documents\/GitHub\/dojo-grunt-drupal\/omega\/sass\/omega\.admin\.scss}line{font-family:\0000318}}
.omega-extension-settings legend {
  display: block;
}

/* Layouts */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lfelipe\/Documents\/GitHub\/dojo-grunt-drupal\/omega\/sass\/omega\.admin\.scss}line{font-family:\0000325}}
.omega-layout-selection-wrapper {
  margin-bottom: 20px;
  min-height: 75px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lfelipe\/Documents\/GitHub\/dojo-grunt-drupal\/omega\/sass\/omega\.admin\.scss}line{font-family:\0000332}}
.omega-layout-selection-wrapper .form-item .option,
.omega-layout-selection-wrapper .form-item .description {
  padding-left: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lfelipe\/Documents\/GitHub\/dojo-grunt-drupal\/omega\/sass\/omega\.admin\.scss}line{font-family:\0000337}}
.omega-layout-selection-wrapper img {
  height: 75px;
  width: 64px;
  position: absolute;
  top: 8px;
  margin-left: 1.5em;
}

/* Assets - Namespace Tokens Helptext */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lfelipe\/Documents\/GitHub\/dojo-grunt-drupal\/omega\/sass\/omega\.admin\.scss}line{font-family:\0000348}}
.omega-assets-namespace-tokens .description {
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lfelipe\/Documents\/GitHub\/dojo-grunt-drupal\/omega\/sass\/omega\.admin\.scss}line{font-family:\0000352}}
.item-list .omega-assets-namespace-tokens {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_bullets\.scss}line{font-family:\0000311}}
.item-list .omega-assets-namespace-tokens li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lfelipe\/Documents\/GitHub\/dojo-grunt-drupal\/omega\/sass\/omega\.admin\.scss}line{font-family:\0000356}}
.item-list .omega-assets-namespace-tokens li {
  margin-bottom: 14px;
}

/* Assets - Missing Requirements */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lfelipe\/Documents\/GitHub\/dojo-grunt-drupal\/omega\/sass\/omega\.admin\.scss}line{font-family:\0000363}}
.omega-assets-missing-files {
  color: #8c2e0b;
  margin: 1em 0 1em 1.5em;
}

/* Assets - Options */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lfelipe\/Documents\/GitHub\/dojo-grunt-drupal\/omega\/sass\/omega\.admin\.scss}line{font-family:\0000369}}
.omega-asset-options {
  margin: 1em 0;
  padding: 2.5em 0 0 0;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/lfelipe\/Documents\/GitHub\/dojo-grunt-drupal\/omega\/sass\/omega\.admin\.scss}line{font-family:\0000375}}
.omega-asset-options legend {
  display: block;
}
